
.idea/misc.xml
.idea/vcs.xml
out/production/.DS_Store
out/production/PolyGPT/Main.class
out/production/PolyGPT/Annee.class
out/production/PolyGPT/Matiere.class
out/production/PolyGPT/Semestre.class
out/production/PolyGPT/UE.class
